body {
    margin: 0px;
}

.header,
.footer {
    background-color: #7a29c6;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type: none;    
    width: 100%;
}

.header {}

.footer {
    bottom: 0px;
    position: absolute;
    text-align: justify;
}

.header:after {}

.footer:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header li {
    float: left;
}

.footer li {
    display: inline-block;
}

.header li.icon {
    display: none;
}

.footer li.icon {}

.header li a,
.footer li a,
.footer li span {
    color: #f2f2f2;
    display: inline-block;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.header li a:hover,
.footer li a:hover {
    background-color: #9d35ff;
}

@media screen and (max-width:860px) {
    .header li:not(:first-child) {
        display: none;
    }
    .header li.icon {
        display: inline-block;
        float: right;
    }
    .header.responsive {
        position: relative;
    }
    .header.responsive li {
        display: inline;
        float: none;
    }
    .header.responsive li.icon {
        position: absolute;
        top: 0px;
        right: 0px;
    }
    .header.responsive li a {
        display: block;
        text-align: left;
    }
}

.page {
    display: none;
}

.page h1 {
    text-align: center;
}
