/* General */

html, body {
    background-color: #ffffff;
    color: #4d2f3d;
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* Splash */

#spinner {
    display: block;
    background: url('spinner.gif') no-repeat scroll center center #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    opacity: 1;
    transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    z-index: 2;
}

#spinner.faded {
    opacity: 0;
}

#spinner.hidden {
    display: none;
}

#spinner h1 {
    text-align: center;
}

/* Watermark */

#watermark-standard,
#watermark-responsive {
    position: fixed;
    opacity: 0.8;
}

#watermark-standard {
    left: 0px;
    top: 0px;
}

#watermark-responsive {
    right: 0px;
    bottom: 0px;
}

#watermark-responsive img {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

@media screen and (max-width:880px) {
    #watermark-responsive {
        display: none;
    }
}

/* Header And Footer */

.header,
.footer {
    display: block;
    background-color: #663e51;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    list-style-type: none;    
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    z-index: 1;
}

.header {
    top: 0px;
}

.footer {
    bottom: 0px;
    text-align: justify;
}

.navigation-faded {
    opacity: 0;
}

.navigation-hidden {
    display: none;
}

.header:after {}

.footer:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.header li {
    float: left;
}

.footer li {
    display: inline-block;
}

.header li.icon,
.footer li.icon {
    display: none;
}

.header li.selected {
    height: 47px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom-color: #f1eff0;
    border-bottom-style: solid;
    border-bottom-width: 4px;
}

.footer li.selected {}

.header li a,
.footer li a,
.footer li span {
    color: #b4a1aa;
    display: inline-block;
    padding: 14px 16px;
    font-size: 17px;
    text-align: center;
}

.header li a,
.footer li a {
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.header li a:hover,
.footer li a:hover {
    background-color: #f1eff0;
}

@media screen and (max-width:1023px) {

    .header li:first-child {
        border: none;
    }

    .footer li:first-child {}

    .header li:not(:first-child) {
        display: none;
    }

    .footer li:not(:first-child) {}

    .header li {}

    .footer li {
        display: none;
    }

    .header li.icon {
        display: inline-block;
        float: right;
    }

    .footer li.icon {
        display: inline-block;
    }

    .header.responsive li {
        display: inline;
        float: none;
    }

    .header.responsive li.icon {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .header.responsive li a {
        display: block;
        text-align: left;
    }

}

/* Modals */

.modal-link {
    color: #4d2f3d;
    font-weight: bold;
}

.modal-link:hover {
    text-decoration: underline;
}

.modal {
    display: block;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    opacity: 1;
    transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -webkit-transition: opacity 0.3s linear;
    z-index: 2;
}

.modal-faded {
    opacity: 0;
}

.modal-hidden {
    display: none;
}

.modal-content {
    background-color: #ffffff;
    margin: 2% auto;
    padding: 4%;
    border: 1px solid #000000;
    border-radius: 5px;
    max-height: auto;
    max-width: 640px;
    z-index: 3;
}

@media screen and (max-width:720px) {
    .modal-content {
        max-height: auto;
        max-width: 88vw;
    }
}

.modal-content-header,
.modal-content-body {
    z-index: 4;
}

.modal-content-header {
    top: 0px;
    height: 50px;
}

.modal-content-header-title,
.modal-content-header-close {
    line-height: 40px;
    font-weight: bold;
    z-index: 5;
}

.modal-content-header-title {
    float: left;
    font-size: 25px;
}

.modal-content-header-close {
    float: right;
    font-size: 40px;
    cursor: pointer;
}

.modal-content-body {
    bottom: 0px;
}

.modal-content-body-caption {
    text-align: center;
    line-height: 10px;
    margin-bottom: 25px;
}

/* IFrames */

.iframe-container {
    position: relative;
    border-radius: 5px;
    padding-bottom: 75%;
    height: 0px;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

/* Pages */

.page {
    display: none;
    position: relative;
    padding-top: 51px;
    padding-bottom: 51px;
    z-index: 0;
}

.page h1,
.page h2,
.page h3,
.page h4 {
    text-align: center;
    margin: 8px;
}

.page h1,
.page h2 {
    font-family: 'Cookie', sans-serif;
    font-weight: lighter;
}

.page h1 {
    font-size: 60px;
}

.page h2 {
    font-size: 45px;
}

.page h3 {
    font-size: 18px;
}

.page h4 {
    font-size: 16px;
}

.page p span.text {
    display: inline-block;
    font-size: 17px;
    text-align: justify;
    margin-left: 15vw;
    margin-right: 15vw;
    height: auto;
    width: auto;
}

@media screen and (max-width:880px) {
    .page p span.text {
        display: inline-block;
        font-size: 17px;
        text-align: justify;
        margin-left: 5vw;
        margin-right: 5vw;
        height: auto;
        width: auto;
    }
}

/* Page - Welcome */

#page-welcome-hero,
#page-welcome-signatures {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
}

#page-welcome-hero {
    max-height: 50vh;
    max-width: 95vw;
}

#page-welcome-signatures {
    max-height: 10vh;
    max-width: 95vw;
}

/* Page - Story */

/* Page - Photos */

@media screen and (min-width:320px) {
    #page-photos-images {
        text-align: center;
        column-gap: 2px;
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
        padding: 5px;
    }
}

@media screen and (min-width:480px) {
    #page-photos-images {
        text-align: center;
        column-gap: 2px;
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
        padding: 5px;
    }
}

@media screen and (min-width:640px) {
    #page-photos-images {
        text-align: center;
        column-gap: 2px;
        columns: 3;
        -moz-columns: 3;
        -webkit-columns: 3;
        padding: 5px;
    }
}

@media screen and (min-width:960px) {
    #page-photos-images {
        text-align: center;
        column-gap: 2px;
        columns: 4;
        -moz-columns: 4;
        -webkit-columns: 4;
        padding: 5px;
    }
}

@media screen and (min-width:1080px) {
    #page-photos-images {
        text-align: center;
        column-gap: 2px;
        columns: 5;
        -moz-columns: 5;
        -webkit-columns: 5;
        padding: 5px;
    }
}

#page-photos-images li {
    list-style: none;
}

#page-photos-images li img {
    cursor: pointer;
    margin: auto;
    height: auto;
    width: 200px;
}

/* Page - Party */

.page-party-row {
    text-align: center;
    padding: 15px;
}

.page-party-member {
    display: inline-block;
    padding: 15px 20px 15px 20px;
}

.page-party-member p img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 250px;
}

/* Page - Wedding */

#page-wedding table {
    margin-left: auto;
    margin-right: auto;
}

#page-wedding table thead tr th,
#page-wedding table tbody tr td {
    padding: 5px;
}

#page-wedding table thead tr th {
    text-align: center;
}

#page-wedding table tbody tr td.cell-left {
    text-align: left;
}

#page-wedding table tbody tr td.cell-right {
    text-align: right;
}

@media screen and (max-width: 480px) {

    #page-wedding table thead,
    #page-wedding table thead tr,
    #page-wedding table thead tr th {
        display: none;
    }

    #page-wedding table tbody,
    #page-wedding table tbody tr,
    #page-wedding table tbody tr td {
        display: block;
    }

    #page-wedding table tbody tr {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #page-wedding table tbody tr td {
        position: relative;
    }

    #page-wedding table tbody tr td.cell-left,
    #page-wedding table tbody tr td.cell-right {
        text-align: left;
    }

}

/* Page - Guests */

/* Page - Registry */

/* Page - Contact */

#page-contact-disqus {
    margin-left: 15vw;
    margin-right: 15vw;
    height: auto;
    width: auto;
}

@media screen and (max-width:880px) {
    #page-contact-disqus {
        margin-left: 5vw;
        margin-right: 5vw;
        height: auto;
        width: auto;
    }
}